* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

$blue: #01b4de;

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: #e6f1f3;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 40px;
    background-color: $blue;
}

.container {
    padding: 20px;
}

/* ----------------------------------------
    MODAL
------------------------------------------- */
c-modal {
    display: block;
}

.cmodal {
    top: 0;
    left: 0;
    margin: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    overflow: auto;
    pointer-events: none;
    
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    
    &.cmodal-opened {
        opacity:1;
        pointer-events: auto;
    }
    
    .cmodal-container {
        width: 500px;
        height: 250px;
        margin: 15% auto;
        background-color: #fff;
    }
}

/* ----------------------------------------
    BUTTON
------------------------------------------- */
.button {
    padding: 10px 20px;
    color: #fff;
    background-color: $blue;
    border-radius: 4px;
    line-height: 40px;
    text-transform: uppercase;
}